<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cera2.css">
</head>
<body>
    <nav class="nav">
        <div><img src="/img/straight logo.png" alt=""></div>
        <div><img src="/img/Circled Menu.png" alt=""></div>
    </nav>
    <section class="section">
        <div class="p1">
            <p>Get Support</p>
            contact us with your message. our team will get back to you soon.
        </div>
        <form action="">
            <div class="user">
                <span>Username</span>
                <span><input type="text"></span>
            </div>
            <div class="email">
                <span>Email</span>
                <span><input type="text"></span>
            </div>
            <div class="mes">
                <span>Message</span>
                <span><textarea name="" id="" cols="30" rows="10"></textarea></span>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </section>
    <section class="footer">
        <div><img src="/img/home icon (1).png" alt=""></div>
        <div><img src="/img/referrals (1).png" alt=""></div>
        <div><img src="/img/notifications.png" alt=""></div>
        <div><img src="/img/community.png" alt=""></div>
        <div><img src="/img/support.png" alt=""></div>
        <div><img src="/img/Profile.png" alt=""></div>
    </section>
</body>
</html>