<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notification</title>
    <link rel="stylesheet" href="note.css">
</head>
<body>
    <nav>
       <div class="nar">
        <img src="./image/cera-log-removebg-preview 1.png" alt="">
        <h1>Cera</h1>
       </div>
       <img src="./image/Circled Menu.png" alt="">
    </nav>
    <section class="dear">
        <p>Dear toshmoney,</p>
        <p class="your">Manage your recent notifications and activities going on your account!</p>
    </section>
    <section class="recent">
        <h1>Recent Notifications</h1>
        <p> <span class="no">No recent Notification</span></p>
    </section>
    <footer>
        <img src="./image/Vector.png" alt="">
        <img src="./image/Vector (1).png" alt="">
        <img src="./image/Vector - Copy.png" alt="">
        <img src="./image/Vector (3).png" alt="">
        <img src="./image/Vector (4).png" alt="">
        <img src="./image/profile pic.png" alt="">

    </footer>
    
</body>
</html>