<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/LandingPage.css">
    <title>Document</title>
</head>
<body>
  <main>
    <nav>
        <div class="nav1">
            <img src="/Images/cera-log-removebg-preview 1.png" alt="">
            <h1>Cera</h1>
        </div>
        <img class="menu-image" src="/Images/Circled Menu.png" alt="">
    </nav>
    <section class="sect1">
       <div class="text">
            <p>Dear toshmoney,</p>
            <p>Manage your recent notifications and activities going on your account!<p>
       </div>
    </section>
    <section class="two">
    <h2>Recent Notifications</h2>
     <section class="sect2">
        <table>
            <tr>
                <th class="desc">Descriptions</th>
                <th class="rate">Rate</th>
                <th class="date">Date</th>
            </tr>
            <tr>
                <td class="desc">0.5 Xeno Mined</td>
                <td class="rate">0.5 Xeno Coins</td>
                <td class="date">09/03/2024</td>
            </tr>
            <tr>
                <td>0.5 Xeno Mined</td>
                <td>0.5 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>0.5 Xeno Mined</td>
                <td>0.5 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>0.5 Xeno Mined</td>
                <td>0.5 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>0.5 Xeno Mined</td>
                <td>0.5 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>New referral commision</td>
                <td>10 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>New referral commision</td>
                <td>10 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>New referral commision</td>
                <td>10 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
            <tr>
                <td>New referral commision</td>
                <td>10 Xeno Coins</td>
                <td>09/03/2024</td>
            </tr>
        </table>
     </section>
    </section>
    <footer>
 <div class="image">
        <div class="home">
            <img src="/Images/Vector.png" alt="">
            <p>Home</p>
        </div>
        <div class="referrals">
            <img src="/Images/referrals.png" alt="">
            <p>Referrals</p>
        </div>
        <div class="notification">
            <img src="/Images/notifications.png" alt="">
            <p>Notifications</p>
        </div>
        <div class="Community">
            <img src="/Images/Vector (4).png" alt="">
            <p>Community</p>
        </div>
        <div class="support">
            <img src="/Images/Vector (5).png" alt="">
            <p>Support</p>
        </div>
        <div class="profile">
            <img src="Images/profile pic.png" alt="">
            <p>Profile</p>
        </div>
 </div>
    </footer>
  </main>
</body>
</html>