<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./profile.css">
</head>
<body>
    <section>
        <nav>
            <div class="logo">
                <img src="./images/straight logo.png" alt="">
            </div>
            <div class="circled">
                <img src="./images/Circled Menu.png" alt="">
            </div>
        </nav>

        <div class="deartosh">
            <p>Dear ToshMoney,</p>
            <p>Manage your profile and make any changes to it</p>
        </div>

        <div class="edit">
            <img class="pro" src="./images/profile pic.png" alt="">
            <div class="btn">
                <button>Edit</button>
                <img src="./images/Edit.png" alt="">
            </div>
        </div>

        <div class="about">
            <div class="abt">
                <div class="contact">
                    <p>Username</p>
                    <div class="editt">
                        <p>ToshMoney</p>
                        <img class="btnn" src="./images/Edit.png" alt="">
                    </div>
                    
                </div>
                <div class="talktotosh">
                    <p>Email</p> 
                    <div class="editt">
                        <p>TalkToTosh@yahoo.com </p>
                        <img class="btnn" src="./images/Edit.png" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="acct">
            <div class="det">
                <h2>Account Details</h2>
                <div class="date">
                    <p>Date Joined</p>
                    <p>03/03/2024</p>
                </div>
                <div class="date">
                    <p>Total Mined Coin</p>
                    <p>56666.65</p>
                </div>
                <div class="date">
                    <p>Number of users referred</p>
                    <p>146</p>
                </div>
            </div>
        </div>

        


    </section>
    <footer>
        <div class="menu">
            <img src="./images/Vector.png" alt="">
            <p>Home</p>
        </div>
        <div class="menu">
            <img src="./images/Vector (1).png" alt="">
            <p>Referrals</p>
        </div>
        <div class="menu">
            <img src="./images/Vector (2).png" alt="">
            <p>Notifications</p>
        </div>
        <div class="menu">
            <img src="./images/Vector (3).png" alt="">
            <p>Community</p>
        </div>
        <div class="menu">
            <img src="./images/Vector (4).png" alt="">
            <p>Support</p>
        </div>
        <div class="menu">
            <img src="./images/profile pic.png" alt="">
            <p>Profile</p>
        </div>
    </footer>
</body>
</html>