<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cera | Sign Up</title>
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">">
</head>
<body>
    <main>
        <div class="imag">
            <img src="/image/straight logo.png" alt="">
        </div>
        <form action="">
           <div class="label-in">
                <label class="use1" for="username">Username</label>
                <input class="use2" type="text" name="name" id="username"required/>
           </div>
           <div>
                <label class="use1" for="email">Email</label>
                <input class="use2" type="email" name="email" id="email"required/>
           </div>
           <div>
                <label class="use1" for="password">Password</label>
                <input class="use2" type="password" name="password" id="password"required/>
           </div>
           <div>
                <label class="use1" for="confirm pass">Confirm Password</label>
                <input class="use2" type="password" name="confirm password" id="confirm password"required/>
           </div>
           <div class="para">
                <p class="p1">By Signing Up you Agree to our <span style="color: #A21EF2;"><b>Terms</b></span> And <span style="color: #A21EF2;"><b>Privacy</b></span></p>
                <button class="butn">Sign Up</button>
                <p class="p2">Already Have An Existing Account? <span style="color: #A21EF2;"><b>Sign In</b></span></p>
           </div>
        </form>
    </main>
</body>
</html>