<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cera.css">
</head>
<body>
    <nav>
        <img src="/img/straight logo.png" alt="">
        <img src="/img/Circled Menu.png" alt="">
    </nav>

    <section class="hero">
       <div class="text">
            <h5>Community</h5>
            <h5>Join our social media and community for more update.</h5>
       </div>

      <section class="btns1">
        <div class="btns">
            <div class="sheep">
                <button class="help">telegram</button>
                <button>twitter</button>
            </div>
    
            <div class="sheep">
                <button>Discord</button>
                <button class="help">Facebook</button>
            </div>
        </div>
      </section>

    </section>
    
    <div class="footer">
        <img src="/img/home icon (1).png" alt="">
        <img src="/img/referrals (1).png" alt="">
        <img src="/img/notifications.png" alt="">
        <img src="/img/community.png" alt="">
        <img src="/img/support.png" alt="">
        <img src="/img/Profile.png" alt="">
    </div>
    
</body>
</html>